*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: sans-serif;
}
body {
    padding: 0;
    background: black;
}

main{
  display: none;
}
header {
  color: white;
  padding: 8px 6px;
}
header container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header svg{
  padding: 6px;
}
header label{
  color: #9E9E9E;
}
header nav{
  background: #1C1C1C;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  align-items: center;
  
}
header .account-icon svg{
  width: 30px;
  height: 30px;
  color: #9E9E9E;
}

splash{
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 99;
}
splash img{
  max-width: 100%;
}


/*game lyt*/
game-layout {
  padding: 20px;
}

/* game-layout container{
  padding: 10px;
}
 */
game-layout > container > card{
  display: flex;
  background: #95F2FB;
  padding: 8px;
  border-radius: 50px;
  justify-content: space-between;
  margin: auto;
  max-width: 85%;
}
 game-layout > container > card span{
  display: flex;
  width: max-content;
  align-items: center;
}
game-layout .circle{
  background: floralwhite;
  height: 33px;
  width: 33px;
  border-radius: 100px;
  
}
game-layout > container > card label{
  padding: 0 6px;
  font-weight: 300;
}
/* .arrow svg{
  stroke: black;
} */


/* app lyt */
app-layout{
  display: none;
  padding: 0px;
}
banner{
  background: url("assets/ff-banner.jpg");
  min-height: 24vh;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 84%;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  color: white;
  position: relative;
  background-blend-mode: color-burn;
  margin: auto;
  overflow: hidden;
}
hori{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 8px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #000000B5);
}

hori img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  
}
hori button{
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  padding: 8px 20px;
}
hori button:hover{
  color: black;
  background: white;
}
hori .vert{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hori{
  display: flex;
  flex-flow: row;
  font-size: 10px;
  width: 100%;
  justify-content: space-around;
}

/* -------------- */
/* section1 */

section{
  color: white;
  overflow: hidden;
  padding: 20px;
}
section nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section nav span{
  color: #9E9E9E;
  display: flex;
  align-items: center;
}
section nav span label {
  padding: 0 8px;
}

appscroll{
  overflow-x: scroll;
  padding: 0 6px;
}
appscroll container{
  width: fill;
  display: block;
  /* background: #E3E3E330; */
  display: flex;
  flex-flow: row;
  overflow: scroll;
  padding: 0 6px;
}
appscroll > container > card{
  height: 100%;
  min-width: 90px;
  display: block;
  border-radius: 4px;
  text-align: start;
  margin: 8px;
}
appscroll > container > card img{
  width: 100%;
  border-radius: 8px;
}

/* updates lyt */

updates-layout{
  display: none;
  color: white;
  text-align: center;
  color: #585858;
}



footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px;
  border-top: 1px solid #585858;
  background: black;
}
footer container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer span {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  color: #9E9E9E;
  width: min-content;
}
footer .game-btn{
  color: white;
}
footer span svg{
  margin-bottom: 6px;
}
